/* this is the "labelContainer" */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* labelContainer end */
.main {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
.button {
  display: flex;
  gap: 50px;
}
.button button {
  color: black;
  background-color: white;
  outline: none;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.25s;
}
.button button:hover {
  background-color: rgb(227, 227, 227);
  cursor: pointer;
}
.label {
  margin-bottom: 50px;
  width: 80%;
}
.labelName,
.labelContent {
  background-color: rgb(230, 230, 230);
  border: 1px solid black;
  border-radius: 15px;
  font-size: 24px;
  padding: 15px;
  margin-bottom: 15px;
}
.labelName {
  text-align: center;
  font-weight: bolder;
}
.container {
  color: white;
  text-align: center;
  overflow-y: auto;
  border: 1px solid black;
  border-radius: 0.25rem;
  height: 200px;
  width: 90%;
  padding: 1rem;
  margin-bottom: 15px;
}
